ul {
  list-style-type: none;
}

.warning{
  color: red;
}

table, td {
  border: 1px solid #ddd;
  text-align: left;
}

td{
   text-align: center;
}
table {
  border-collapse: collapse;
  width: 90%;
}

th, td {
  padding-top: 5px;
  padding-bottom: 5px;
}


.result {
  color: green;
  font-weight: bold;
}

td input {
  width: 60px;
}

