<div>
  <div *ngIf="game.roundsResults.length > 0">
    <div>
      <h6>Previous Rounds</h6>
      <div *ngIf="deleteClicked" class="spinner-grow" role="status">
        <span class="sr-only">Loading...</span>
      </div>
      <div>
        <table class="table table-sm result-table">
          <thead>
            <tr>
              <td>R</td>
              <td *ngFor="let player of game.players">{{ player.name }}</td>
              <td class="font-weight-bold">Maal</td>
              <td>&nbsp;</td>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let round of game.roundsResults; last as isLast;">
              <td>{{round.roundId}}</td>
              <td *ngFor="let point of round.result"
                  [ngClass]="{'maal-seen': point.maalSeen === true && point.gameWon === false, 'maal-unseen' : point.maalSeen === false, 'game-won': point.gameWon === true}">
                {{point.calculatedValue}}
                <br />
                <small *ngIf="point.maalSeen">({{point.maal}})</small>
              </td>
              <td class="font-weight-bold">{{round.totalMaal}}</td>
              <td>
                <button type="button" *ngIf="isLast" class="btn btn-warning" [disabled]="deleteClicked"
                        (click)="deleteRound(round.roundId);  deleteClicked = true;" value="delete" name="delete">
                  X
                </button>
              </td>
            </tr>
            <tr class="result">
              <td>Total</td>
              <td *ngFor="let point of points">{{point}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<br />
<div>
  <div>
    <div>
      <h5>Current Round</h5>
      <div>
        <table class="table table-sm current-round">
          <thead>
            <tr>
              <th>Player</th>
              <th>Seen</th>
              <th>Dubliee</th>
              <th>GameWon</th>
              <th>Maal</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let roundPlayer of currentRound.playersMaal">
              <td><label>{{roundPlayer.name}}</label></td>
              <td><input type="checkbox" [(ngModel)]="roundPlayer.maalSeen" name="maalSeen" /></td>
              <td>
                <input type="checkbox" [(ngModel)]="roundPlayer.isDubliee" (change)="isDublieeClick(roundPlayer)"
                       name="isDubliee" />
              </td>
              <td>
                <input type="checkbox" [(ngModel)]="roundPlayer.gameWon" (change)="gameWonChange(roundPlayer)" name="gameWon" />
              </td>
              <td>
                <input class="input-mall" type="number" [(ngModel)]="roundPlayer.totalMaal" (change)="maalInputChange(roundPlayer)" name="totalMaal" />
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <p class="text-danger">{{errorMessage}}</p>
      <input type="button" class="btn btn-primary" [disabled]="clicked" name="Calculate"
             (click)="calculateMaal(); clicked = true;" value="calculate" />
    </div>
  </div>
</div>
