ul {
  list-style-type: none;
}

.warning{
  color: red;
}

table, td {
  border: 1px solid #ddd;
  text-align: left;
}

td{
   text-align: right;
}
table {
  border-collapse: collapse;
  /* width: 100%; */
}

th, td {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.maal-number {
  width: 50px;
}

.result {
  color: green;
  font-weight: bold;
}
