<div>
  <p class="warning">{{errorMessage}}</p>
  <div *ngIf="game.roundsResults.length > 0">
    <h6>Previous Rounds</h6>
    <table class="table-striped">
      <tr>
        <!-- <td>&nbsp;</td> -->
        <td>Round</td>
        <td *ngFor="let player of game.players">{{ player.name }}</td>
      </tr>
      <tr *ngFor="let round of game.roundsResults">
        <!-- <td>edit</td> -->
        <td>{{round.roundId}}</td>
        <td *ngFor="let point of round.result">{{point.calculatedValue}}</td>
      </tr>
      <tr class="result">
        <td>Total</td>
        <td *ngFor="let point of points">{{point}}</td>
      </tr>
    </table>
  </div>
  <br/>
  <br/>
  <div>
    <h5>Current Round</h5>
    <table class="table-striped">
      <tr>
        <td>Player</td>
        <td>Seen</td>
        <td>Dubliee</td>
        <td>GameWon</td>
        <td>Maal</td>
      </tr>
      <tr *ngFor="let roundPlayer of currentRound.playersMaal">
      <td>{{roundPlayer.name}}</td>
      <td><input type="checkbox" [(ngModel)]="roundPlayer.maalSeen" name="maalSeen" /></td>
      <td><input type="checkbox" [(ngModel)]="roundPlayer.isDubliee" (change) ="isDublieeClick(roundPlayer)" name="isDubliee" /></td>
      <td><input type="checkbox" [(ngModel)]="roundPlayer.gameWon" (change)="gameWonChange(roundPlayer)" name="gameWon" /></td>
      <td><input style="width: 40px;" type="number" [(ngModel)]="roundPlayer.totalMaal" (change)="maalInputChange(roundPlayer)" name="totalMaal" /></td>
    </table>
    <br/>
    <input type="button" [disabled]="clicked" name="Calculate" (click)="calculateMaal(); clicked = true;" value="calculate" />
  </div>
</div>
